.button{
    margin-top: 40px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    .arrow{
        transition: transform 0.3s ease;
    }
    &:hover{
        .arrow{
            transform: translateX(5px);
        }
    }
}
