.socialsCont{
    width: 350px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    .iconCont{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px groove var(--dark-background);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: var(--dark-background);
        .socialIcon{
            width: 20px;
            height: 20px;
        }
        &:hover{
            background: var(--pink);
            box-shadow: 1px 1px 5px var(--dark-background);
            color: white;
            .socialIcon{
                color: white;
            }
        }
    }
}