@mixin sectionTitle{
    font-size: 3rem;
    color: var(--dark-background);
    .index{
        color: var(--pink);
    }
}
.mainAbout{
    position: relative;
    padding: 20px;
    min-height: 88vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    .aboutSection{
        display: flex;
        align-items:center;
        justify-content: space-evenly;
        width: 80%;
        min-height: 60vh;
        @media (max-width:480px){
            flex-direction: column;
            gap: 40px;
        }
        .aboutTextCont{
            width: 60%;
            padding: 20px;
            text-align: left;
            @media (max-width:480px){
                width: 100%;
                padding: 0
            }
        }
        
    }
    
    .sectionTitle{
        @include sectionTitle;
    }
    
}

