.cardCont{
    display: grid;
    grid-template-columns: 300px 550px;
    grid-template-rows: 30px 30px 120px;
    grid-template-areas: "image name"
                         "image company"
                         "image description";
    gap: 10px;
    color: white;
    .rol{
        grid-area: name;
        font-size: 24px;
        color: var(--light-blue);
    }
    .imgCont{
        grid-area: image;
    }
    .company{
        grid-area: company;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: lighter;
        .date{
            font-size: 12px;
            color: var(--pink);
        }
    }
    .description{
        grid-area: description;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    @media (max-width:768px){
        grid-template-columns: 300px;
        grid-template-rows:180px auto 30px auto;
        grid-template-areas: "image"
                             "name"
                             "company"
                             "description";
        gap: 15px;
        .rol{
            font-size: 1.2rem;
        }
        .company{
            font-size: 1rem;
            font-weight: bold;
            .date{
                font-size: 10px;
                font-weight: lighter;
            }
        }
        .description{
            font-size: 1rem;
        }
    }
}