.buttonCont{
    width: auto;
    height: auto;
    margin-top: 10px;
    .downloadButton{
        padding: 10px 20px;
        border: 1px groove var(--dark-background);
        background: var(--dark-background);
        color: white;
        border-radius: 20px;
        cursor: pointer;
        &:hover{
            background: var(--dark-background);
            color: white;
        }
    }
}