@mixin sectionTitle{
    font-size: 3rem;
    color: white;
    .index{
        color: var(--pink);
    }
}
.mainSkills{
    width: 100vw;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    .sectionTitle{
        @include sectionTitle;
    }
}