.welcome{
    width: 100%;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    .description{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .welcomeTextCont{
            display: flex;
            .welcomeText{
                font-size: 1.2rem;
                .hi{
                    font-size: 2rem;
                }
                .hand{
                    font-size: 2rem;
                    display: inline-block;
                    animation: hi 2s ease-in-out infinite;
                }
                @media (max-width:480px){
                    font-size: 1rem;
                    .hi{
                        font-size: 1.5rem;
                    }
                    .hand{
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .waveTextCont{
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            h2{
                font-size: 3rem;
                position: absolute;
            }
            .border{
                color: var(--dark-background);
                text-shadow:  -1px -1px 0 var(--dark-background),
                              1px -1px 0 var(--dark-background),
                              1px 1px 0 var(--dark-background),
                              -1px 1px 0 var(--dark-background),
            }
            .wave{
                color: white;
                animation: wave 3s ease-in-out infinite;
            }
            @media (max-width:480px){
                h2{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@keyframes wave {
    0%, 100% {
        clip-path: polygon(
            0% 47%,
            10% 48%,
            33% 54%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }
    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 58%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

@keyframes hi{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(60deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

