*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    &::-webkit-scrollbar {
        width: var(--scrollbar-width);
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }
     
    &::-webkit-scrollbar-thumb {
        background:black;
    }
}